.main-body{
    margin: 20px;
}

.layout-top{
    margin: 20px auto;
}

.layout-middle{
    margin: 20px auto;
}

.btn{
    padding: 10px;
    text-align: center;
    min-width: 100px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn-back{
    background: #d3d3d3;
    color: #333;
}

.btn-add{
    background: #84c185;
    color: #FFF;
}

.subscriber-form, .subscriber-info{
    margin: 10px auto;
}

.ipt{
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 5px;
    width: 250px;
}

.subscriber-info-heading{
    color: #186ca3;
    font-weight: bold;
    font-size: 14px;
}

.subscriber-info-data{
    color: #333333;
    font-size: 14px;
}