.main-body{
    margin: 20px;
}

.layout-top{
    margin: 20px auto;
}

.layout-middle{
    margin: 20px auto;
}

.btn{
    padding: 10px;
    text-align: center;
    min-width: 100px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-add{
    background: #84c185;
    color: #FFF;
}

.btn-delete{
    background: #fa9b9c;
    color: #333;
}

.subscriber-item{
    display: flex;
    margin: 10px auto;
}

.col{
    width: 300px;

}

.col-head{
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
}

.col-data{
    margin-top: 10px;
}